* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #8E93A8;
    width: 100%;
    height: 3.09rem;
}

.navbar-color{
    background-color: white;
}

.container{
    max-width: 100%;
    height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    background-image: linear-gradient(to right top, #0d0e16, #2b2c36, #4a4c59, #6b6f80, #8e93a8);
    color: white;
    margin: 0;
    padding: 0;
}

.container2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.anchor-style{
    color: #0D0E16;
}

hr{
    width: 5rem;
    height: .2rem;
    background-color: white;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

h1{
    font-size: 33px;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

.p-text{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p-text-slogan{
    font-weight: bold;
    font-style: italic;
    margin: 0;
    margin-top: 1rem;
}

.ramirez-img {
    width: 15rem;
    height: auto;
    padding-top: 2rem;
}

.aia-logo{
    width: 100%;
}

.gr-logo{
    width: 2.5rem;
    height: auto;
    border-radius: 50%;
}

main{
    background-color: #8E93A8;
    padding: 1rem;
    text-align: center;
    color: #0D0E16;
}

main p{
    margin-bottom: 3.2rem;
}

.embed-style{
    margin-bottom: 1rem;
}

section hr{
    width: 100%;
    height: .2rem;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1rem;
}

footer{
    background-image: linear-gradient(to right top, #0d0e16, #2b2c36, #4a4c59, #6b6f80, #8e93a8);    
    width: 100%;
    height: 3.09rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2{
    font-size: 15px;
    color: white;
}

.footer-text{
    margin: 0;
}

/* ============================= Media Queries ================================ */

/* Ipad Media Query */

@media only screen and (min-width: 768px) {
    .ipad-nav{
        margin-left: .1rem;
    }

    .navbar-color{
        background-color: transparent;
    }

    .p-text{
        font-size: x-large;
    }

    h1{
        font-size: 3rem;
    }

    .ramirez-img {
        width: 20rem;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    hr{
        width: 8rem;
        height: .3rem;
        background-color: white;
        margin: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .fa-star::before{
        font-size: 1.7rem;
    }

    p {
        font-size: 1.8rem;
    }

    .aia-logo{
        width: 60%;
    }

    .footer-text{
        font-size: 1.3rem;
    }

    .nav-link{
        font-size: 1rem;
    }
}

/*Ipad Pro 12.9" Media Query*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

    html, body {
        width: 100%;
    }

    header {
        width: 100%;
    }

    main {
        width: 100%;
    }
    
    section{
        width: 100%;
    }

}

/* Laptop and Desktop Media Queries */

@media only screen and (min-width: 1024px) {
    .nav-link{
        margin-left: 15.7rem;
    }

    .nav-margin{
        margin-left: 31rem;
    }

    main{
        width: 100%;
        padding-left: 35rem;
        padding-right: 35rem;
        padding-top: 2rem;
    }

    .aia-logo{
        width: 35%;
    }

    .embed-style{
        width: 80%;
        height: 1127px;
    }
}

